<!doctype html>
<html>
<head>
  <title>HTML PRACTICE</title>
 
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css"> 
</head class="border">
<body>
  
    <div class="w-nav navbar" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1">
      <div class="w-container nav">
        <nav class="w-nav-menu nav-menu" role="navigation">

       
        <div class="w-col w-col-3 logo">
          <a href="#"><img class="logo" src="images/logo.png" alt="Elegance"></a>
        </div>
     
            <div class="center-this">
              <a class="w-nav-link menu-li" href="#home">HOME</a>
              <a class="w-nav-link menu-li" href="#about">ABOUT</a>
              <a class="w-nav-link menu-li" href="#service">SERVICES</a>
              <a class="w-nav-link menu-li" href="#portfolio">PORTFOLIO</a>
              <a class="w-nav-link menu-li"href="#team">TEAM</a>
              <a class="w-nav-link menu-li" href="#contact">CONTACT</a>
            </div>
        </nav>
        <div class="w-nav-button">
          <text"div class="w-icon-nav-menu"></div>
          <h1 class="underline" class="jumbotron" id="Big-Title">LeBlanc & Family Landscaping</h1>
        </div>
      </div>
    </div>
    
    </*--////////////////////////////////////
      //// Start slider section
      //////////////////////////////////////--*/>




    <div class="slidersection">
      <div class="sp-slideshow">
      
        <input id="button-1" type="radio" name="radio-set" class="sp-selector-1" checked="checked" />
        <label for="button-1" class="button-label-1"></label>
        
        <input id="button-2" type="radio" name="radio-set" class="sp-selector-2" />
        <label for="button-2" class="button-label-2"></label>
        
        <input id="button-3" type="radio" name="radio-set" class="sp-selector-3" />
        <label for="button-3" class="button-label-3"></label>
        
        <input id="button-4" type="radio" name="radio-set" class="sp-selector-4" />
        <label for="button-4" class="button-label-4"></label>
        
        <input id="button-5" type="radio" name="radio-set" class="sp-selector-5" />
        <label for="button-5" class="button-label-5"></label>
        
        <label for="button-1" class="sp-arrow sp-a1"></label>
        <label for="button-2" class="sp-arrow sp-a2"></label>
        <label for="button-3" class="sp-arrow sp-a3"></label>
        <label for="button-4" class="sp-arrow sp-a4"></label>
        <label for="button-5" class="sp-arrow sp-a5"></label>
        
        <div class="sp-content" id="home">
          <div class="sp-parallax-bg"></div>
          <ul class="sp-slider clearfix">
            <li><img src="images/slider/slider1.jpg" alt="slider1" /></li>
            <li><img src="images/slider/slider2.jpg" alt="slider2" /></li>
            <li><img src="images/slider/slider3.jpe" alt="slider3" /></li>
            <li><img src="images/slider/slider4.jpe" alt="slider4" /></li>
            <li><img src="images/slider/slider5.jpe" alt="slider5" /></li>
          </ul>
        </div><!-- sp-content -->
        
      </div><!-- sp-slideshow -->
    </div>  
    <div class="container">
      <h1 id="blue-text" class="underline">LeBlanc & Family Landscaping</h1>
      <div class="jumbotron parent-div">
        <div div class="div-left">
          <h1 id="about">Family Owned & Operated</h1>
        </div>
        
        <h2 class="red-text underline">Since 1995.</h2>

        <h2 class="blue-text">Over 20yrs Experience!</h2>

        <h2><a></a>
        </h2>
  
        <div class="parent-div">
          
          <div class="div-left">
            <p class=" center">Customer Satisfaction Garunteed!</p>
          </div>
          
          <div class="div-right">
              <p> </p>
          </div>
          <div bottom-box></div>
        </div>
      </div>
      <h2 class=" center-this" id="service">We Provide Top Quality Service</h2>
      <h2 class=" center-this">Fall And Spring Clean Ups</h2>
        
      
      <ul class="center-this">
       <table>
          <li>Brush Removal</li>      
          <li>Hedge Trimming</li>
          <li>Mowing</li>
          <li>Edging</li>
          <li>Gardening</li>
          <li>Tree & Stump Removal</li>
          <li>Regular Maintence</li>
          <li>ODD JOBS?</li>
        </table>
      </ul>
    </div>
  
<!--//////////////////////////////////////
    // End Service Section 
    /////////////////////////////////////--*/>





<!--///////////////////////////////////////////////////////
       // Porfolio section 
       //////////////////////////////////////////////////////////-->
       

  <div class="portfolio-parlex" id="portfolio">
    <div class="parlex3-back">
      <div class="w-container">
        <div class="wrap">
          <div class="portfolio">
            <h1 class="portfolio-heading">PORTFOLIO</h1>
           
            <div class="sepreater"></div>
          </div>
          <p class="porfolio-paragraph">THE BEST RESULTS ARE OBTAINED BY TASKING THE RIGHT PEOPLE TO THE RIGHT PROJECT
            <br>We do what we love. Our clients love what we do.</p>
            <div class="container demo-1">
      <ul class="grid cs-style-1">
        <li>
          <figure>
            <img class="portfolio-images" src="images/portfolio/1.jpg" alt="1">
            <figcaption>
              <h3>Honest</h3>
              <h3>Trustworthy</h3>
              <a href="#">Take a look</a>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img class="portfolio-images" src="images/portfolio/2.jpe" alt="2">
            <figcaption>
              <h3>Precise</h3>
              <h3>Clean</h3>
              <a href="#">Take a look</a>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img class="portfolio-images" src="images/portfolio/3.jpe" alt="3">
            <figcaption>
              <h3>Dedicated</h3>
              <h3>Company</h3>
              <a href="#">Take a look</a>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img class="portfolio-images" src="images/portfolio/4.jpe" alt="4">
            <figcaption>
              <h3>Professional</h3>
              <h3>Work</h3>
              <a href="#">Take a look</a>
            </figcaption>
          </figure>
        </li>
        
        </li>
      </ul>
    </div><!-- /container -->
        </div>
      </div>
    </div>
  </div>

<!--///////////////////////////////////////////////////////
       // End Porfolio section 
       //////////////////////////////////////////////////////////-->




</body>
</html>